.logo {
  float: left;
  height: 48px;
  margin: 8px 0px;
}

.beginningLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beginningLayout .search {
  height: 40px;
  width: 40%;
  min-width: 300px;
  margin-top: 5vh;
}

.logo-home {
  width: 60%;
  max-height: 30vh;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
  padding: 24;
  margin: 0;
  height: "100%";
}

.sider {
  overflow: auto;
  margin-left: 24px;
  margin-bottom: 24px;
}

.result-menu {
  height: 100%;
  /* border-right: 0px; */
  overflow: hidden auto;
}

.ant-layout {
  height: 100%;
}

.searchSession .search {
  width: 300px !important;
}

.search {
  height: 40px;
}

.searchSession {
  height: 10%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#graph {
  width: 100%;
  height: 100%;
}

.ant-menu-submenu-title {
  margin: 2px !important;
}

.list-item {
  white-space: normal !important;
  height: auto !important;
  line-height: 1.8 !important;
  padding: 0px 20px 4px 40px !important;
  color: black !important;
  cursor: auto !important;
  background-color: transparent !important;
  /* pointer-events: none; */
}

.related-words {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spinRoot {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.ant-spin-lg .ant-spin-dot {
  font-size: 40px !important;
}

.zhuyin-title {
  font-size: medium;
  font-weight: 500;
}

.sense-title {
  display: flex;
  font-weight: 500;
  color: slateblue;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  overflow-wrap: break-word;
  align-items: center;
  margin-top: 5px;
}

.sense-span {
  cursor: pointer;
}

.selected {
  background-color: #bbdef0;
}

.tag {
  /* float: right; */
  margin: 3px !important;
}

.tag.selected {
  border-color: #f3d42e;
  border-width: 1px;
  box-shadow: 0 0 5px #f3d42e;
}

.related-words .tag {
  cursor: pointer;
}

.header-btns {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}

.intro-btn {
  color: #fff !important;
  border: 0px !important;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.intro-btn > .anticon {
  font-size: 20px;
}

.intro-btn:hover {
  background-color: #1890ffa0 !important;
}
